<section
  class="landing-section h-screen w-full text-center relative overflow-hidden text-white"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-5xl font-medium">Model Y</h2>
      <h3 class="text-2xl font-medium">From $39,390*</h3>
      <p class="text-black text-sm">
        After Federal tax Credit & Est. Gas Savings
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-[40px] text-white">
      <div class="gap-x-4 flex mx-auto">
        <a
          class="bg-white text-sm bg-opacity-80 rounded font-medium px-[90px] py-3 text-gray-600 text-center items-center justify-center"
          href="#"
        >
          Order Now</a
        >
        <a
          class="bg-black/50 text-white text-sm bg-opacity-50 rounded font-medium px-[90px] py-3 items-center justify-center"
          href="#"
        >
          Demo Drive</a
        >
      </div>
    </footer>
    <p class="text-[12px] font-medium text-black/70 pb-2">
      *Price before incetives and savings is $50,490, excluding taxes and fess.
      Suvject to change. <br />
      <span class="underline"> Learn about est. gas savings.</span>
    </p>
  </div>

  <div class="absolute top-0 bottom-0 z-10">
    <img
      src="/ModeloY.avif"
      alt=""
      class="h-screen w-screen object-cover object-center"
    />
  </div>
</section>
